@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'poppins';
}

.container {
    height: 100vh;
    width: 100vw;
    background-image: url('https://wallpapers.com/downloads/high/yellow-house-and-greenery-best-hd-h5hf3cmcwkls52wo.webp');
    background-repeat: no-repeat;
    background-size: 1200px;
}

h1,
h2,
h3,
h4 {

    padding: 25px;
    font-size: 23px;
}


h1 {
    color: rgb(246, 0, 0);
}

h2 {
    color: green;
}

h3 {
    color: yellow;
    text-transform: uppercase;
    line-height: 2;
    word-spacing: 23px;
    letter-spacing: 3px;
    text-indent: 45px;
    text-decoration:overline;
    text-shadow: 1px 1px 2px black;
    text-align: center;
}

h4 {
    color: brown;
}

p {
    color: white;
    background-color: black;
    display: inline-table;
    padding: 25px;
    font-size: 23px;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    }
    
    h2 {
    text-align: center;
    margin-bottom: 20px;
    }
    
    table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
    }
    
    th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    }
    
    th {
    background-color: #f2f2f2;
    }